main {
display: flex;
justify-content: space-evenly;
align-content: center;
flex-direction: column;
flex: 1;
background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)), url(https://image.boxrox.com/2017/09/Clarence-Kennedy.png)
}
section.Calculator{
    align-self: center;
    background: rgb(106, 226, 146);
    margin-left: 30px;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(57, 55, 55);
    margin-top: 3%;
    align-content: center;
}
div.button-field {
    text-align: center;
}

section.question-area {
    /* background: blue; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 7%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
form {
    align-self: center;
    background-color: rgb(177, 235, 215);
    background-size: 100%;
    border-radius: 30px;
    /* margin-right: 70px; */
    text-align: center;
  
}
div#form-frame {
    background-color: rgba(177, 235, 215, 0.98);
    height: 50vh;
    border-radius: 30px;
    margin-bottom: 5%;
}

h4 {
text-align: center;
}

div {
    padding: 15px;
}

button#get-maxes {
    border-style: solid;
    border: rgb(138, 71, 71);
    margin-right: 30px;
    border-style: outset;
}

button#reset {
    border-style: outset;
    border-style: solid;
    /* border: black; */
}

button#get-maxes:hover {
    background-color: rgb(195, 189, 180);
}

button#reset:hover {
    background-color: rgb(195, 189, 180);

}

p#max-inst {
    text-align: center;
}

p#instructions {
    font-weight: bold;
    /* margin-top: 5%; */
    text-align: center;
}

div#p-transbox p#instructions {
    margin: 5%;
    color: white;
}

div#p-container {
    background-color: gray;
    align-items: baseline;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 40px;
    margin-top: 5%;
    opacity: 0.9;
}